#priyanka{

    background-color: aqua;

}
.one{
    background-color: red;
}

#two{

background-color: aqua;
}

#priyanka{

    background-color: blueviolet;
}


#three{

    background-color: darkred;
}

